<h1>Contacts for <%= @company.name %></h1>
  <ul>
  <% @people.each do |person| %>
    <li><%= link_to "#{person.name}", "/companies/#{@company_id}/people/#{person.id}/" %></li>
  <% end %>
  </ul>
<%= link_to "Add a person", "/companies/#{@company_id}/people/new" %>
