<h1>Contacts for <%= @specific_company.name %></h1>
  <ul>
  <% @specific_company.people.each do |person| %>
    <li><%= link_to "#{person.name}", "/companies/#{person.company.id}/people/#{person.id}/" %></li>
  <% end %>
  </ul>
<%= link_to "Add a contact", new_company_person_path(params[:company_id]) %>
<%= link_to "Back to company information", company_path(params[:company_id]) %>
